<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2>Badges Labels Progress </h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a>UI Features</a> </li>
            <li class="active"> <strong>Badges Labels Progress </strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Progress Bars </h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo4">
                <div class="widgets-container">
                  <p>Basic</p>
                  
                  <!-- start progress bar -->
                  <div class="progress">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"> <span class="sr-only"> 40% Complete (success) </span> </div>
                  </div>
                  
                  <!-- start progress bar -->
                  <div class="progress">
                    <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info"> <span class="sr-only"> 20% Complete </span> </div>
                  </div>
                  
                  <!-- start progress bar -->
                  <div class="progress">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning"> <span class="sr-only"> 60% Complete (warning) </span> </div>
                  </div>
                  
                  <!-- start progress bar -->
                  <div class="progress">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger"> <span class="sr-only"> 80% Complete </span> </div>
                  </div>
                  <hr>
                  <p>Striped</p>
                  
                  <!-- start striped progress bar -->
                  <div class="progress progress-striped">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"> <span class="sr-only"> 40% Complete (success) </span> </div>
                  </div>
                  
                  <!-- start striped progress bar -->
                  <div class="progress progress-striped">
                    <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info"> <span class="sr-only"> 20% Complete </span> </div>
                  </div>
                  
                  <!-- start striped progress bar -->
                  <div class="progress progress-striped">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning"> <span class="sr-only"> 60% Complete (warning) </span> </div>
                  </div>
                  
                  <!-- start striped progress bar -->
                  <div class="progress progress-striped">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger"> <span class="sr-only"> 80% Complete (danger) </span> </div>
                  </div>
                  <p>Animated</p>
                  <hr>
                                    
                  <!-- start active striped progress bar -->
                  <div class="progress progress-striped active">
                    <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"> <span class="sr-only"> 40% Complete (success) </span> </div>
                  </div>
                                    
                  <!-- start active striped progress bar -->
                  <div class="progress progress-striped active">
                    <div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info"> <span class="sr-only"> 20% Complete </span> </div>
                  </div>
                                    
                  <!-- start active striped progress bar -->
                  <div class="progress progress-striped active">
                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning"> <span class="sr-only"> 60% Complete (warning) </span> </div>
                  </div>
                                    
                  <!-- start active striped progress bar -->
                  <div class="progress progress-striped active">
                    <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger"> <span class="sr-only"> 80% Complete (danger) </span> </div>
                  </div>
                  <hr>
                  <p>Stacked</p>
                  
                  <!-- start progress bar -->
                  <div class="progress">
                    <div style="width: 35%" class="progress-bar progress-bar-success"> <span class="sr-only"> 35% Complete (success) </span> </div>
                    <div style="width: 20%" class="progress-bar progress-bar-warning"> <span class="sr-only"> 20% Complete (warning) </span> </div>
                    <div style="width: 10%" class="progress-bar progress-bar-danger"> <span class="sr-only"> 10% Complete (danger) </span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Labels & Badges Styles-->
          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Labels &amp; Badges Styles</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo7">
                <div class="widgets-container">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th> Class </th>
                        <th> Labels </th>
                        <th> Badges </th>
                        <th> Roundless Badges </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> Default </td>
                        <td><span class="label label-default"> Default </span> </td>
                        <td><span class="badge badge-default"> 5 </span> </td>
                        <td><span class="badge badge-default badge-roundless"> 3 </span> </td>
                      </tr>
                      <tr>
                        <td> Primary </td>
                        <td><span class="label label-primary"> Primary </span> </td>
                        <td><span class="badge badge-primary"> 4 </span> </td>
                        <td><span class="badge badge-primary badge-roundless"> Hot </span> </td>
                      </tr>
                      <tr>
                        <td> Info </td>
                        <td><span class="label label-info"> Info </span> </td>
                        <td><span class="badge badge-info"> 6 </span> </td>
                        <td><span class="badge badge-info badge-roundless"> New </span> </td>
                      </tr>
                      <tr>
                        <td> Success </td>
                        <td><span class="label label-success"> Success </span> </td>
                        <td><span class="badge badge-success"> 1 </span> </td>
                        <td><span class="badge badge-success badge-roundless"> 2 </span> </td>
                      </tr>
                      <tr>
                        <td> Danger </td>
                        <td><span class="label label-danger"> Danger </span> </td>
                        <td><span class="badge badge-danger"> 3 </span> </td>
                        <td><span class="badge badge-danger badge-roundless"> 5 </span> </td>
                      </tr>
                      <tr>
                        <td> Warning </td>
                        <td><span class="label label-warning"> Warning </span> </td>
                        <td><span class="badge badge-warning"> 12 </span> </td>
                        <td><span class="badge badge-warning badge-roundless"> 3 </span> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Labels In Headings-->
          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Labels In Headings</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo16">
                <div class="widgets-container">
                  <div class="well">
                    <h1>Example heading <span class="label label-default"> default </span> </h1>
                    <h2>Example heading <span class="label label-success"> success </span> </h2>
                    <h3>Example heading <span class="label label-danger"> danger </span> </h3>
                    <h4 class="block">Example heading <span class="label label-info"> info </span> </h4>
                    <h4>Example heading <span class="label label-warning"> warning </span> </h4>
                    <h6>Example heading <span class="label label-primary"> primary </span> </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>     

    </div>
  </div>
</div>

