	<div class="page-container ">
		

		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2> Date & Time Pickers </h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a>Components</a> </li>
							<li class="active"> <strong>Date & Time Pickers</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content ">
					<div class="row">
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Angular Bootsarp  Date & Time Pickers</h5>
								</div>
								<div class="ibox-content collapse in">
									<div class="widgets-container">
										<div ng-controller="datepicker">
									    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

									    <h4>Inline</h4>
									    <div style="display:inline-block; min-height:290px;">
									      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
									    </div>

									    <hr />
									    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
									    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
									    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
									    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
									</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5> Angular Date Picker
            <small>https://github.com/g00fy-/angular-datepicker</small>
        </h5>
								</div>
								<div class="ibox-content collapse in">
									<div class="widgets-container">
										<h3>
            Date picker
        </h3>

        <p>
            Simple and easy select a time for a text input using your mouse.
        </p>

        <div class="form-group" id="data_1">
            <label class="font-noraml">Simple date input format</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_2">
            <label class="font-noraml">One Year view</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="year" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_4">
            <label class="font-noraml">Month select</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="month" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="form-group" id="data_3">
            <label class="font-noraml">Hours view</label>

            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="hours" auto-close="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>


        <div class="form-group" id="data_5">
            <label class="font-noraml">Range select</label>

            <div uib-dropdown>
                <a class="btn btn-primary btn-sm" uib-dropdown-toggle>
                    Select range
                </a>
                <div>
                <span>
                    Selected date: <br/> {{(a|date)}} - {{(b|date)}}
                </span>
                </div>
                <div uib-dropdown-menu="" ng-click="$event.preventDefault();$event.stopPropagation()">
                    <div date-range start="a" end="b" auto-close="true"></div>
                </div>
            </div>
        </div>
									</div>
								</div>
							</div>
						</div>

					</div>			

				</div>
			</div>
		</div>

		