	<div class="page-container ">	
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-sm-12">
						<h2>Contacts II</h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a> Gallery </a> </li>
							<li class="active"> <strong>Contacts II</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content ">
					<div class="row">
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Jordan Belfort</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Robert Angier</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Ariadne Angier</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Alex Smith </strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Susan Wenscombe</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Dejah Thoris</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Mike </strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Christina Plutzker</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Jordan Belfort</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Robert Angier</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Ariadne Angier</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Alex Smith </strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Susan Wenscombe</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Dejah Thoris</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Mike </strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
						<!-- contacts-card Start -->
						<div class="col-sm-3">
							<div class="contacts-card"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image">
								<div class="contact-box center-version">
									<a href="#/profile">
										<address>
											<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Camden, New Jersey 08102<br>
											<abbr title="Phone">P:</abbr> 856-681-6121
										</address>
									</a>
								</div>
								<div class="contact-box-footer">
									<h3 class="m-b-xs"><strong>Christina Plutzker</strong></h3>
									<div class="m-t-xs btn-group"> <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a> <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>										<a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a> </div>
								</div>
							</div>
						</div>
						<!-- contacts-card End-->
					</div>
				</div>



	