<div class="page-container">



    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">


                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 top10">
                            <div class="widget widget-stats  box-shadow red-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-title">TODAY'S VISITS</div>
                                <div class="stats-number">7,842,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 70.1%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (70.1%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15 top10">
                            <div class="widget widget-stats  box-shadow aqua-bg ">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                                <div class="stats-title">TODAY'S PROFIT</div>
                                <div class="stats-number">180,200</div>
                                <div class="stats-progress progress">
                                    <div style="width: 40.5%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (40.5%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        
                        <!-- end col-3 -->

                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 top10">
                            <div class="widget widget-stats  box-shadow green-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-line-chart fa-fw"></i></div>
                                <div class="stats-title">Total Expenses</div>
                                <div class="stats-number">7,842,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 70.1%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (70.1%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15 top10">
                            <div class="widget widget-stats  box-shadow orange-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-pie-chart fa-fw"></i></div>
                                <div class="stats-title"> Other Stats</div>
                                <div class="stats-number">38,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 76.3%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (76.3%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
          



                        <!-- Line Chart Example-->
                        <div class="col-lg-8 top10">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Latest Campaign</h5>                                    
                                </div>
                                <div class="ibox-content">
                                    <div class="demo-container-l" ng-controller="chartJsCtrl as chart">
                                         <div>
                               
                                 <canvas id="lineChart" linechart options="chart.lineOptions" data="chart.lineDataDashboard3" height="114" responsive="true"></canvas>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- start widgets-->
                        <div class="col-lg-4 top10">

    <div class="widgets-container">
        <div>
            <div>
                <span>Memory</span>
                <small class="pull-right">10/200 GB</small>
            </div>
            <div class="progress progress-small">
                <div style="width: 60%;" class="progress-bar progress-bar-green"></div>
            </div>

            <div>
                <span>Bandwidth</span>
                <small class="pull-right">20 GB</small>
            </div>
            <div class="progress progress-small">
                <div style="width: 50%;" class="progress-bar progress-bar-green"></div>
            </div>

            <div>
                <span>Activity</span>
                <small class="pull-right">73%</small>
            </div>
            <div class="progress progress-small">
                <div style="width: 40%;" class="progress-bar progress-bar-green"></div>
            </div>

            <div>
                <span>FTP</span>
                <small class="pull-right">400 GB</small>
            </div>
            <div class="progress progress-small">
                <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
            </div>
        </div>
    </div>
    <div class="widgets-container">

        <h3>About Olivia Wenscombe</h3>
        <p class="small"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't. <br>
            <br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing </p>
        <p class="small font-bold"> <span><i class="fa fa-circle text-navy"></i> Online status</span> </p>
    </div>



</div>





<div class="col-lg-12 top10" ng-controller="flotChartCtrl as charts">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Multiple Axes Line Chart Example</h5>
                                    <!-- ibox-tools -->
                                    <div ibox-tools></div>
                                </div>
                                <div class="ibox-content collapse in" id="demo5">
                                    <div class="demo-container">
                                        <div flot class="flot-chart-content" dataset="charts.flotMultiData" options="charts.flotMultiOptions"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



<div class="row">
    <div class="col-lg-8">
        <div class="widgets-container">
            <h2>TODO List</h2>
            <small>This is example of task list</small>
            <ul class="todo-list m-t">
                <li>
                    <input icheck type="checkbox" ng-model="check1">
                    <span>Hit the gym</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 2 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check2">
                    <span>Pay bills</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 4 mins</small>
                </li>
                 <li>
                    <input icheck type="checkbox" ng-model="check3">
                    <span>Organize office</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 8 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check4">
                    <span>Send documents to Olivia</span>
                    <small class="label label-warning"><i class="fa fa-clock-o"></i> 15 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check5">
                    <span>Send mail to Susan</span>
                    <small class="label label-danger"><i class="fa fa-clock-o"></i> 50 mins</small>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
       
       
            <div class="ibox">
              <div class="widgets-container">
                <h3>Private message</h3>
                <p class="small"> Send private message to Olivia Wenscombe </p>
                <div class="form-group">
                  <label>Subject</label>
                  <input placeholder="Message subject" class="form-control" type="email">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea rows="3" placeholder="Your message" class="form-control"></textarea>
                </div>
                <button class="btn green btn-block">Send</button>
              </div>
            </div>
          </div>

   
</div>


        </div>
    </div>
</div>