<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> E-commerce grid</h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a> E-commerce </a> </li>
            <li class="active"> <strong>Products grid</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#/ecommerce_product_detail"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#/ecommerce_product_detail">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


</div>
</div>
</div>