<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2>E-commerce product detail</h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a> E-commerce </a> </li>
            <li class="active"> <strong>Product Detail</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox product-detail white-bg">
              <div class="ibox-content">
                <div class="row">
                  <div class="col-md-5">
                    <!-- start  product slidare-->
                    <slick class="product-images">
                      <div> <img class="full-width" src="images/productDetail/placeholders.jpg" alt=""> </div>
                      <div> <img class="full-width" src="images/productDetail/placeholders.jpg" alt=""> </div>
                      <div> <img class="full-width" src="images/productDetail/placeholders.jpg" alt=""> </div>
                      <div> <img class="full-width" src="images/productDetail/placeholders.jpg" alt=""> </div>
                    </slick>               

                    <!-- End  product slidare-->
                    <hr>
                    <div>
                      <div class="btn-group"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a>
                        <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <h2 class="font-bold m-b-xs"> 909K Jeans for Women </h2>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                    <div >
                      <h2 class="product-main-price">$98.00 <small class="text-muted">Exclude Tax</small> </h2>
                    </div>
                    <hr>
                    <h4>Product description</h4>
                    <div class="small text-muted"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex. Integer efficitur tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. <br>
                      <br>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex. Integer efficitur tincidunt malesuada. Sed sit amet molestie elit, vel placerat ipsum. </div>
                    <div>
                      <h3>Materials</h3>
                      <ul class="pro-list" >
                        <li><i class="fa fa-check" aria-hidden="true"></i> 100% Cotton</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Twill</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Slant front pockets</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Patch back pockets</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Zip fly</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Imported</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Imported</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="recenty-viewed"> RECENTLY VIEWED </h2>
        <!-- start recently view product -->
        <div class="row">
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
          <!-- grid box start -->
          <div class="col-md-3">
            <div class="ibox white-bg">
              <div class="ibox-content product-box"> <img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg">
                <div class="product-desc"> <span class="product-price">$10</span> <small class="text-muted">Category</small> <a class="product-name" href="#"> Product</a>
                  <div class="small m-t-xs"> A cultural icon. Always original. Etiam euismod eleifend ipsum... </div>
                  <div class="top15 text-center"> <a class="red btn btn-outline btn-xs" href="#">Quick View</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- grid box End -->
        </div>
        <!-- End  recently view product -->
      </div>      


