<div class="page-container ">

  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> E-commerce shoping cart</h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a> E-commerce </a> </li>
            <li class="active"> <strong>Shoping Cart</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title"> <span class="pull-right">(<strong>6</strong>) items</span>
                <h5>Items in your cart</h5>
              </div>
              <div class="ibox-content collapse in">
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a href="#/ecommerce_product_detail" class="text-navy"> Product name I </a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a> | <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $60,00 <s class="small text-muted">$80,00</s> </td>
                          <td width="65"><input type="text" class="form-control" placeholder="1">
                          </td>
                          <td><h4> $60,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a class="text-navy" href="#/ecommerce_product_detail"> Product Name II</a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a class="text-muted" href="#"><i class="fa fa-gift"></i> Add gift package</a> | <a class="text-muted" href="#"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $40,00 <s class="small text-muted">$63,00</s> </td>
                          <td width="65"><input type="text" placeholder="2" class="form-control">
                          </td>
                          <td><h4> $80,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a class="text-navy" href="#/ecommerce_product_detail"> Product Name III </a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a class="text-muted" href="#"><i class="fa fa-gift"></i> Add gift package</a> | <a class="text-muted" href="#"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $30,00 </td>
                          <td width="65"><input type="text" placeholder="1" class="form-control">
                          </td>
                          <td><h4> $30,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a class="text-navy" href="#/ecommerce_product_detail"> Product Name IV </a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a class="text-muted" href="#"><i class="fa fa-gift"></i> Add gift package</a> | <a class="text-muted" href="#"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $70,00 </td>
                          <td width="65"><input type="text" placeholder="1" class="form-control">
                          </td>
                          <td><h4> $70,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a class="text-navy" href="#/ecommerce_product_detail"> Product Name V</a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a class="text-muted" href="#"><i class="fa fa-gift"></i> Add gift package</a> | <a class="text-muted" href="#"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $35,00 </td>
                          <td width="65"><input type="text" placeholder="1" class="form-control">
                          </td>
                          <td><h4> $35,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container">
                  <div >
                    <table class="table shoping-cart-table">
                      <tbody>
                        <tr>
                          <td width="90"><img alt="" class="img-responsive" src="images/productDetail/placeholders.jpg" ></td>
                          <td class="desc"><h3> <a class="text-navy" href="#/ecommerce_product_detail"> Product Name VI</a> </h3>
                            <p class="small"> A cultural icon. Always original. Etiam euismod eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis eu, mi felis, aliquam at iaculis mi felis, aliquam at iaculis finibus eu ex.... </p>
                            <div class="top10"> <a class="text-muted" href="#"><i class="fa fa-gift"></i> Add gift package</a> | <a class="text-muted" href="#"><i class="fa fa-trash"></i> Remove item</a> </div></td>
                          <td> $40,00 </td>
                          <td width="65"><input type="text" placeholder="1" class="form-control">
                          </td>
                          <td><h4> $40,00 </h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="widgets-container text-right"> <span> Total </span>
                  <h2 class="font-bold"> $315,00 </h2>
                </div>
                <div class="widgets-container">
                  <button class="btn btn-primary pull-right green"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                  <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


