<div class="page-container ">
 
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> E-commerce grid II</h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a> E-commerce </a> </li>
            <li class="active"> <strong>E-commerce grid II</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="sliderconBox">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 filterLeftBox">
              <!-- Left Sidebar-->
              <div class="left-sidebar">
                <div class="left-sidebar-title">
                  <h3>shopping options</h3>
                </div>
                <div class="left-layout">
                  <div class="single-layout">
                    <div class="layout-title">
                      <h4>Category</h4>
                    </div>
                    <div class="layout-list">
                      <ul>
                        <li>                       

                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck1">
                            Catagory 01 <span>(4)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck2">
                            Catagory 02 <span>(6)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck3">
                            Catagory 03 <span>(1)</span> </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Price Filter Area -->
                  <div class="single-layout">
                    <div class="layout-title">
                      <h4>Manufacturer</h4>
                    </div>
                    <div class="layout-list">
                      <ul>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck4">
                            Adidas <span>(4)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck5">
                            Chanel <span>(6)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck6">
                            DKNY <span>(2)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck7">
                            Dolce <span>(3)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck8">
                            Gabbana <span>(1)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck9">
                            Nike <span>(5)</span> </div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck10">
                            Vogue <span>(4)</span> </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="single-layout">
                    <div class="layout-title">
                      <h4>color</h4>
                    </div>
                    <div class="layout-list">
                      <ul>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck11">
                            Black <span>(4)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck12">
                            Blue <span>(6)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck13">
                            Brown <span>(2)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck14">
                            red <span>(3)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck15">
                            Red <span>(1)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck16">
                            White <span>(5)</span></div>
                        </li>
                        <li>
                          <div class="i-checks">
                            <input type="checkbox" iCheck ng-model="main.unCheck17">
                            Yellow <span>(4)</span></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Start List -->
            <div class="col-md-9  filterRihgtBox">
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red    pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p> <span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red    pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a class="quick-view" href=""> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name </span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a class="quick-view" href=""> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p> <span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p> <span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a href="#/ecommerce_product_detail" class="quick-view"> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                    <div class="mrgt22x"></div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a class="quick-view" href=""> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p><span class="col-md-9 paddingNone"> Product Name </span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
              <div class="col-md-3 col-sm-6 TumFBox listBox">
                <div class="single-product"> <a class="quick-view" href=""> <span>Quick view</span> </a> <img src="images/productDetail/placeholders.jpg">
                  <div class="text-grid pading1x sel-txt">
                    <p> <span class="col-md-9 paddingNone"> Product Name</span> <span class="paddingNone col-md-3 medium pull-right"> $76.00 </span></p>
                    <div class="content-grid"> <a href="#/ecommerce-cart" class="btn green  btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a> <a class="btn  btn-sm red   btn-outline pull-right" href="javascript:;"> <i class="fa fa-heart-o"></i> </a> </div>
                  </div>
                </div>
              </div>
              <!-- grid box End -->
              <!-- grid box start -->
            </div>
            <!-- End List -->
          </div>
        </div>
      </div>
      


