
<div class="page-container ">
    <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> Email Template </h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a> Mailbox </a> </li>
            <li class="active"> <strong>Email Template</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Responsive transactional HTML email templates </h5>
              </div>
              <div class="ibox-content collapse in" id="demo1">
                
                  <div class="widgets-container">
                    <div class="row">
                      <div class="col-md-4">
                        <h4>Basic action email</h4>
                        <a target="_blank" href="email_templates/action.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_1.jpg"> </a> </div>
                      <div class="col-md-4">
                        <h4>Email alert </h4>
                        <a target="_blank" href="email_templates/alert.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_2.jpg"> </a> </div>
                      <div class="col-md-4">
                        <h4>Billing email</h4>
                        <a target="_blank" href="email_templates/billing.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_3.jpg"> </a> </div>
                    </div>
                    <div class="row top20">
                      <div class="col-md-4">
                        <h4>confirmation mail email</h4>
                        <a target="_blank" href="email_templates/confirm.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_4.jpg"> </a> </div>
                      <div class="col-md-4">
                        <h4>Email for Invitation </h4>
                        <a target="_blank" href="email_templates/invite.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_5.jpg"> </a> </div>
                      <div class="col-md-4">
                        <h4>Reignite email</h4>
                        <a target="_blank" href="email_templates/reignite.html"> <img alt="" class="img-responsive" src="images/emailTemplate/email_6.jpg"> </a> </div>
                    </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


