	<div class="page-container ">
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2> ChartJS </h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a>Graphs</a> </li>
							<li class="active"> <strong> ChartJS</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content " ng-controller="chartJsCtrl as chart">
					<div class="row">
						<!-- Line Chart Example-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Line Chart Example </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo1">
									<div class="demo-container">
										<div>
											<canvas linechart options="chart.lineOptions" data="chart.lineData" height="140" responsive=true ></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Column Chart-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Column Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo2">
									<div class="demo-container">
										<div>
											<canvas barchart options="chart.barOptions" data="chart.barData" height="140" responsive=true ></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Polar Area -->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Polar Area </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo3">
									<div class="demo-container">
										<div>
											<canvas polarchart options="chart.polarOptions" data="chart.polarData" height="140" responsive=true></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Pie  Chart-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Pie Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo4">
									<div class="demo-container">
										<div>
											<canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutData" height="140" responsive=true></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Radar Chart  -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Radar Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo5">
									<div class="demo-container-lage chartLBox">
										<div>
											<canvas radarchart options="chart.radarOptions" data="chart.radarData" responsive=true></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>

