<div >
	<div class="logo">
		<a href="#/dashboard1"> <img src="images/w-logo.png" alt=""> </a>
	</div>
	<div class="middle-box text-center loginscreen ">
		<div class="widgets-container">
			<div class="bottom20"> <img alt="image" class="img-circle circle-border" src="images/teem/placeholders.jpg"> </div>
			<h3> Andy Smith </h3>
			<p>Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.</p>
			<form class="top15" action="index.html">
				<div class="form-group">
					<input class="form-control" placeholder="******" required="" type="password">
				</div>
				<button type="submit" class="btn green block full-width">Unlock</button>
			</form>
		</div>
	</div>
</div>
