
<div >
	<div class="middle-box text-center loginscreen ">
		<div class="widgets-container">
			<div>
				<h1 class="logo-name">A-BAG</h1>
			</div>
			<h3>Welcome to Admin-Bag</h3>
			<p>fully responsive admin dashboard template built with Bootstrap Framework, HTML5 and CSS3, Media query. </p>
			<p>Login in. To see it in action.</p>
			<form action="index.html" class="top15">
				<div class="form-group">
					<input type="email" required="" placeholder="Username" class="form-control">
				</div>
				<div class="form-group">
					<input type="password" required="" placeholder="Password" class="form-control">
				</div>
				<button class="btn green block full-width bottom15" type="submit">Login</button>
				<a href="#/forgot_password"><small>Forgot password?</small></a>
				<p class="text-muted text-center"><small>Do not have an account?</small></p>
				<a href="#/register" class="btn btn-sm btn-white btn-block">Create an account</a>
			</form>
			<p class="top15"> <small>Admin-Bag is easy to use and customize &copy; 2016-2017</small> </p>
		</div>
	</div>
</div>
