<div class="page-container ">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h2>Mape </h2>
                    <ol class="breadcrumb">
                        <li> <a href="#/dashboard1">Home</a> </li>
                        <li> <a>Mape</a> </li>
                        <li class="active"> <strong>Goole Mape</strong> </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper-content ">
                <!--Basic Mape -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Basic Mape</h5>
                                <!-- ibox-tools -->
<div ibox-tools></div>
                                <!-- ibox-tools -->
                            </div>
                            <!-- / ibox-title -->
                            <div id="demo1" class="ibox-content collapse in" ng-controller="GoogleBasicMape">
                                <div class="widgets-container">
                                    <div>
                                        <div id="mapI" class="gmaps"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Basic Mape -->
                <div class="row">
                    <!--Markers -->
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Markers</h5>
                                <!-- ibox-tools -->
<div ibox-tools></div>
                                <!-- ibox-tools -->
                            </div>
                            <!-- / ibox-title -->
                            <div id="demo2" class="ibox-content collapse in" ng-controller="GoogleMarkersMape">
                                <div class="widgets-container">
                                    <div>
                                        <div id="map2" class="gmaps"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Markers -->

                </div>

            </div>

        </div>
    </div>
</div>