<div >
<div class="middle-box text-center loginscreen   ">
  <div class="widgets-container">
    <div>
      <h1 class="logo-name">A-BAG</h1>
    </div>
    <h3>Register to Admin-Bag</h3>
    <p>Create account to see it in action.</p>
    <form action="login.html"  class="m-t">
      <div class="form-group">
        <input type="text" required="" placeholder="Name" class="form-control">
      </div>
      <div class="form-group">
        <input type="email" required="" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" required="" placeholder="Password" class="form-control">
      </div>
      <div class="form-group">
        <div class="i-checks">
          <input type="checkbox" class="iCheck" indeterminate="true">
          Agree the terms and policy </div>
      </div>
      <button class="btn green block full-width m-b" type="submit">Register</button>
      <p class="text-muted text-center"><small>Already have an account?</small></p>
      <a href="#/login" class="btn btn-sm btn-white btn-block">Login</a>
    </form>
    <p class="top15"> <small>Admin-Bag is easy to use and customize &copy; 2016-2017</small> </p>
  </div>
</div>
</div>
