<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> Typography </h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a>UI Features</a> </li>
            <li class="active"> <strong>Typography</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row margin-bottom-20">
          <div class="col-lg-12">
            <div class="widgets-container">
              <!-- Headings-->
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Headings</b></h4>
                  <p class="text-muted m-b-15 font-13"> All HTML headings, <code> &lt;h1&gt;</code> through <code> &lt;h6&gt;</code> , are available. <code> .h1</code> through <code> .h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline. </p>
                  <h1>h1. Heading 1</h1>
                  <h2>h2. Heading 2</h2>
                  <h3>h3. Heading 3</h3>
                  <h4>h4. Heading 4</h4>
                  <h5>h5. Heading 5</h5>
                  <h6 class="m-b-0">h6. Heading 6</h6>
                </div>
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Styled Headings</b></h4>
                  <p class="text-muted m-b-15 font-13"> Create lighter, secondary text in any heading with a generic <code> &lt;small&gt;</code> tag or the <code> .small</code> class. </p>
                  <h1>Heading 1 <small>Secondary Text</small></h1>
                  <h2>Heading 2 <small>Secondary Text</small></h2>
                  <h3>Heading 3 <small>Secondary Text</small></h3>
                  <h4>Heading 4 <small>Secondary Text</small></h4>
                  <h5>Heading 5 <small>Secondary Text</small></h5>
                  <h6>Heading 6 <small>Secondary Text</small></h6>
                </div>
              </div>
              <hr>
              <!-- Paragraph text-->
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Inline text elements</b></h4>
                  <p class="text-muted m-t-15 m-b-5 font-13"> Make a paragraph stand out by adding <code> .lead</code> . </p>
                  <p class="lead m-t-0"> Your title goes here </p>
                  <p class="text-muted m-t-20 m-b-5 font-13"> For highlighting a run of text due to its relevance in another context, use the <code> &lt;mark&gt;</code> tag. </p>
                  You can use the mark tag to
                  <mark> highlight </mark>
                  text.
                  <p class="text-muted m-t-20 m-b-5 font-13"> For indicating blocks of text that have been deleted use the <code> &lt;del&gt;</code> tag. </p>
                  <del>This line of text is meant to be treated as deleted text.</del>
                  <p class="text-muted m-t-20 m-b-5 font-13"> For indicating additions to the document use the <code> &lt;ins&gt;</code> tag. </p>
                  <ins>This line of text is meant to be treated as an addition to the document.</ins>
                  <p class="text-muted m-t-20 m-b-5 font-13"> For emphasizing a snippet of text with a heavier font-weight. <code> &lt;strong&gt;</code> </p>
                  <strong>rendered as bold text</strong>
                  <p class="text-muted m-t-20 m-b-5 font-13"> For emphasizing a snippet of text with italics. <code> &lt;em&gt;</code> </p>
                  <em>rendered as italicized text</em> </div>
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Contextual Text Colors</b></h4>
                  <p class="text-muted m-t-20 m-b-5 font-13"> Use classes <code> .text-custom</code> , <code> .text-primary</code> etc. to highlight text </p>
                  <p class="text-custom"> Etiam porta sem malesuada magna mollis euismod. </p>
                  <p class="text-pink"> Donec ullamcorper nulla non metus auctor fringilla. </p>
                  <p class="text-muted"> Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh. </p>
                  <p class="text-primary"> Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                  <p class="text-success"> Duis mollis, est non commodo luctus, nisi erat porttitor ligula. </p>
                  <p class="text-info"> Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
                  <p class="text-warning"> Etiam porta sem malesuada magna mollis euismod. </p>
                  <p class="text-danger"> Donec ullamcorper nulla non metus auctor fringilla. </p>
                  <p class="text-purple"> Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh. </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Addresses</b></h4>
                  <p class="text-muted m-b-15 font-13"> Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code> &lt;br&gt;</code> . </p>
                  <address>
                  <strong>Twitter, Inc.</strong> <br>
                  795 Folsom Ave, Suite 600 <br>
                  San Francisco, CA 94107 <br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                  <address>
                  <strong>Full Name</strong> <br>
                  <a href="mailto:#">first.last@example.com</a>
                  </address>
                </div>
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Blockquotes</b></h4>
                  <p class="text-muted m-b-15 font-13"> Add a <code> &lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code> &lt;cite&gt;</code> . </p>
                  <blockquote>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </p>
                    <footer> Someone famous in <cite title="Source Title">Source Title</cite> </footer>
                  </blockquote>
                  <p class="text-muted m-b-15 m-t-20 font-13"> Add <code> .blockquote-reverse</code> for a blockquote with right-aligned content. </p>
                  <blockquote class="blockquote-reverse m-b-0">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </p>
                    <footer> Someone famous in <cite title="Source Title">Source Title</cite> </footer>
                  </blockquote>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <h4 class="m-t-0 header-title"><b>Unordered</b></h4>
                  <p class="text-muted m-b-15 font-13"> A list of items in which the order does not explicitly matter. </p>
                  <ul>
                    <li> Lorem ipsum dolor sit amet </li>
                    <li> Consectetur adipiscing elit </li>
                    <li> Integer molestie lorem at massa </li>
                    <li> Facilisis in pretium nisl aliquet </li>
                    <li> Nulla volutpat aliquam velit
                      <ul>
                        <li> Phasellus iaculis neque </li>
                        <li> Purus sodales ultricies </li>
                        <li> Vestibulum laoreet porttitor sem </li>
                        <li> Ac tristique libero volutpat at </li>
                      </ul>
                    </li>
                    <li> Faucibus porta lacus fringilla vel </li>
                    <li> Aenean sit amet erat nunc </li>
                    <li> Eget porttitor lorem </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4 class="m-t-0 header-title"><b>Ordered</b></h4>
                  <p class="text-muted m-b-15 font-13"> A list of items in which the order does explicitly matter. </p>
                  <ol>
                    <li> Lorem ipsum dolor sit amet </li>
                    <li> Consectetur adipiscing elit </li>
                    <li> Integer molestie lorem at massa </li>
                    <li> Facilisis in pretium nisl aliquet </li>
                    <li> Nulla volutpat aliquam velit </li>
                    <li> Faucibus porta lacus fringilla vel </li>
                    <li> Aenean sit amet erat nunc </li>
                    <li> Eget porttitor lorem </li>
                  </ol>
                </div>
                <div class="col-md-4">
                  <h4 class="m-t-0 header-title"><b>Unstyled</b></h4>
                  <p class="text-muted m-b-15 font-13"> Remove the default <code> list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children
                    list items</strong>, meaning you will need to add the class for any nested lists as well. </p>
                  <ul class="list-unstyled">
                    <li> Lorem ipsum dolor sit amet </li>
                    <li> Integer molestie lorem at massa
                      <ul>
                        <li> Phasellus iaculis neque </li>
                        <li> Purus sodales ultricies </li>
                      </ul>
                    </li>
                    <li> Faucibus porta lacus fringilla vel </li>
                    <li> Eget porttitor lorem </li>
                  </ul>
                  <h4><b>Inline</b></h4>
                  <p class="text-muted m-b-15 font-13"> Place all list items on a single line with <code> display: inline-block;</code> and some light padding. </p>
                  <ul class="list-inline m-b-0">
                    <li> Lorem ipsum </li>
                    <li> Phasellus iaculis </li>
                    <li> Nulla volutpat </li>
                  </ul>
                </div>
              </div>
              <hr>
              <!-- Ordered list-->
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Description</b></h4>
                  <p class="text-muted m-b-15 font-13"> A list of terms with their associated descriptions </p>
                  <dl class="m-b-0">
                    <dt> Description lists </dt>
                    <dd> A description list is perfect for defining terms. </dd>
                    <dt> Euismod </dt>
                    <dd> Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. </dd>
                    <dd> Donec id elit non mi porta gravida at eget metus. </dd>
                    <dt> Malesuada porta </dt>
                    <dd> Etiam porta sem malesuada magna mollis euismod. </dd>
                  </dl>
                </div>
                <div class="col-sm-6">
                  <h4 class="m-t-0 header-title"><b>Horizontal description</b></h4>
                  <p class="text-muted m-b-15 font-13"> Make terms and descriptions in <code> &lt;dl&gt;</code> line up side-by- side. Starts off stacked like default <code> &lt;dl&gt;</code> s, but when the navbar expands, so do these. </p>
                  <dl class="dl-horizontal m-b-0">
                    <dt> Description lists </dt>
                    <dd> A description list is perfect for defining terms. </dd>
                    <dt> Euismod </dt>
                    <dd> Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. </dd>
                    <dd> Donec id elit non mi porta gravida at eget metus. </dd>
                    <dt> Malesuada porta </dt>
                    <dd> Etiam porta sem malesuada magna mollis euismod. </dd>
                    <dt> Felis euismod semper eget lacinia </dt>
                    <dd> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      


</div>
</div>
</div>
