<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> widget </h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>           
            <li class="active"> <strong> widget</strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">


<div class="row">
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="widget widget-stats red-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                                <div class="stats-title">TODAY'S VISITS</div>
                                <div class="stats-number">7,842,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 70.1%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (70.1%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats aqua-bg ">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                                <div class="stats-title">TODAY'S PROFIT</div>
                                <div class="stats-number">180,200</div>
                                <div class="stats-progress progress">
                                    <div style="width: 40.5%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (40.5%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats purple-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                                <div class="stats-title">NEW ORDERS</div>
                                <div class="stats-number">38,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 76.3%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (76.3%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats black-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                                <div class="stats-title">NEW COMMENTS</div>
                                <div class="stats-number">3,988</div>
                                <div class="stats-progress progress">
                                    <div style="width: 54.9%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (54.9%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->

                         <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="widget widget-stats green-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-line-chart fa-fw"></i></div>
                                <div class="stats-title">Total Expenses</div>
                                <div class="stats-number">7,842,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 70.1%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (70.1%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats yellow-bg ">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-bar-chart fa-fw"></i></div>
                                <div class="stats-title">Total Refunds</div>
                                <div class="stats-number">180,200</div>
                                <div class="stats-progress progress">
                                    <div style="width: 40.5%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (40.5%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats orange-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-pie-chart fa-fw"></i></div>
                                <div class="stats-title"> Other Stats</div>
                                <div class="stats-number">38,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 76.3%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (76.3%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->
                        <!-- begin col-3 -->
                        <div class="col-md-3 col-sm-6 mtop15">
                            <div class="widget widget-stats blue-bg">
                                <div class="stats-icon stats-icon-lg"><i class="fa fa-area-chart fa-fw"></i></div>
                                <div class="stats-title">Total Orders</div>
                                <div class="stats-number">9,899,900</div>
                                <div class="stats-progress progress">
                                    <div style="width: 54.9%;" class="progress-bar"></div>
                                </div>
                                <div class="stats-desc">Better than last week (54.9%)</div>
                            </div>
                        </div>
                        <!-- end col-3 -->                        
                    </div>


<div class="row">
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget aqua-bg">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <i class="fa fa-bank fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Today income </span>

                    <h2 class="font-bold">$ 9,982</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget aqua-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Today degrees </span>

                    <h2 class="font-bold">30'C</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget green-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> New messages </span>

                    <h2 class="font-bold">290</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-music fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> New albums </span>

                    <h2 class="font-bold">40</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-controller="widgetFlotChart as chart">
    <div class="col-lg-6">
        <div class="widget aqua-bg no-padding">
            <div class="widget-m">
                <h1>$ 92,365</h1>

                <h3 class="font-bold no-margins">
                    Annual income
                </h3>
                <small>Income form project Alpha.</small>
            </div>
            <div class="flot-chart">
                <div flot class="flot-chart-content" dataset="chart.flotChartData1" options="chart.flotChartOptions1"></div>
            </div>
        </div>
    </div>
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget green-bg no-padding">
            <div class="widget-m">
                <h1>$ 325,984</h1>

                <h3 class="font-bold no-margins">
                    Monthly income
                </h3>
                <small>Income form project Beta.</small>
            </div>
            <div class="flot-chart">
                <div flot class="flot-chart-content" dataset="chart.flotChartData2" options="chart.flotChartOptions2"></div>
            </div>
        </div>
    </div>
    <!-- begin col-3 -->
    <div class="col-lg-3">
        <div class="widget orange-bg no-padding">
            <div class="widget-m">
                <h1>$ 30,999</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div flot class="flot-chart-content" dataset="chart.flotChartData3" options="chart.flotChartOptions3"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget aqua-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-automobile fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">150</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget aqua-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-motorcycle fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">300</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget aqua-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-truck fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">210</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget green-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-bus fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">320</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget green-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-ship fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">10</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget yellow-bg">
            <div class="row vertical-align">
                <div class="col-xs-3">
                    <i class="fa fa-plane fa-2x"></i>
                </div>
                <div class="col-xs-9 text-right">
                <span>Last Booking</span>
                    <h2 class="font-bold">610</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">      
      
              <div class="widget aqua-bg">
                <h2>Personal Details </h2>
                <table class="table small m-b-xs top5 bottom0">
                  <tbody>
                    <tr>
                      <td><strong>142</strong> Projects </td>
                      <td><strong>22</strong> Followers </td>
                    </tr>
                    <tr>
                      <td><strong>61</strong> Comments </td>
                      <td><strong>54</strong> Articles </td>
                    </tr>
                    <tr>
                      <td><strong>154</strong> Tags </td>
                      <td><strong>32</strong> Friends </td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <div class="widget aqua-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>

                <h1>47</h1>

                <h3 class="font-bold no-margins">
                    Notification
                </h3>
                <small>We detect the error.</small>
            </div>
        </div>
        
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget aqua-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>

                <h1>300</h1>

                <h3 class="font-bold no-margins">
                    Shield
                </h3>
               
            </div>
        </div>
        <div class="widget aqua-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>

                <h1>325</h1>

                <h3 class="font-bold no-margins">
                    Thunder
                </h3>
                <small>amount</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget green-bg p-xl">

            <h2>
                Susan Wenscombe
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    Susan@mail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Address:</label>
                    4030 Prospect Street
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Contact:</label>
                    856-681-6121
                </li>
            </ul>

        </div>
        <div class="widget red-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-envelope fa-4x"></i>

                <h1>30</h1>

                <h3 class="font-bold no-margins">
                    Mail
                </h3>
                <small> Do something</small>
            </div>
        </div>
    </div>
    <!-- begin col-2 -->
    <div class="col-lg-2">
        <div class="widget yellow-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>

                <h1>125</h1>

                <h3 class="font-bold no-margins">
                    Likes
                </h3>
                <small>amount</small>
            </div>
        </div>
        <div class="widget yellow-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>

                <h1>Alarm</h1>

                <h3 class="font-bold no-margins">
                    Do
                </h3>
                <small>something</small>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-lg-6">
        <div class="widgets-container">
    
        <div class="feed-activity-list">
            <div class="feed-element">
                <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                <div class="media-body "> <small class="pull-right text-navy">1m ago</small> <strong>Mitch Buchannon</strong> started following <strong>Olivia Wenscombe</strong>. <br>
                    <small class="text-muted">Today 9:00 pm - 11.06.2016</small>
                    <div class="actions"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a> </div>
                </div>
            </div>
            <div class="feed-element">
                <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                <div class="media-body "> <small class="pull-right">5m ago</small> <strong>Olivia Wenscombe</strong> posted a new blog. <br>
                    <small class="text-muted">Today 5:60 pm - 12.06.2016</small> </div>
            </div>
            <div class="feed-element">
                <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                <div class="media-body "> <small class="pull-right">2h ago</small> <strong>Robert Angier</strong> posted message on <strong>Olivia Wenscombe</strong> site. <br>
                    <small class="text-muted">Today 2:10 pm - 12.06.2016</small>
                    <div class="well"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </div>
                    <div class="pull-right"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a> <a class="btn btn-xs aqua"><i class="fa fa-pencil"></i> Message</a> </div>
                </div>
            </div>

            <div class="feed-element">
                <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                <div class="media-body "> <small class="pull-right text-navy">5h ago</small> <strong> Alex Smith </strong> started following <strong>Olivia Wenscombe</strong>. <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2016</small>
                    <div class="actions"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a> </div>
                </div>
            </div>



        </div>
</div>
    </div>
    <div class="col-lg-6">
        <div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-danger m-r-sm">12</button>
                        Total messages
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary m-r-sm">28</button>
                        Posts
                    </td>
                    <td>
                        <button type="button" class="btn btn-info m-r-sm">15</button>
                        Comments
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-info m-r-sm">20</button>
                        News
                    </td>
                    <td>
                        <button type="button" class="btn btn-success m-r-sm">40</button>
                        Likes
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger m-r-sm">30</button>
                        Notifications
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-warning m-r-sm">20</button>
                        Albums
                    </td>
                    <td>
                        <button type="button" class="btn btn-default m-r-sm">40</button>
                        Groups
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning m-r-sm">30</button>
                        Permissions
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                         <div class="ibox">
              <div class="widgets-container">
                <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                  <div class="media-body "> <strong>Olivia Wenscombe </strong>send Friend Requests to you . <br>
                    <small class="text-muted">Today 9:00 pm - 11.06.2016</small>
                    <div class="actions"> <a class="btn btn-xs aqua"><i class="glyphicon glyphicon-ok"></i> Confirm</a> <a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove " aria-hidden="true"></i> Delete</a> </div>
                  </div>
                </div>
                <h3>About Olivia Wenscombe</h3>
                <p class="small"> There are many variations of passages of Lorem Ipsum available, but the majority have
                  suffered alteration in some form, by injected humour, or randomised words which don't. <br>
                  <br>
                  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing </p>
                <p class="small font-bold"> <span><i class="fa fa-circle text-navy"></i> Online status</span> </p>
              </div>
            </div>
                </div>
                <div class="col-md-6">
                    <div class="widgets-container">
                        <div>
                            <div>
                                <span>Memory</span>
                                <small class="pull-right">10/200 GB</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 60%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>Bandwidth</span>
                                <small class="pull-right">20 GB</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 50%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>Activity</span>
                                <small class="pull-right">73%</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 40%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>FTP</span>
                                <small class="pull-right">400 GB</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="widgets-container">
            <h2>TODO List</h2>
            <small>This is example of task list</small>
            <ul class="todo-list m-t">
                <li>
                    <input icheck type="checkbox" ng-model="check1">
                    <span>Hit the gym</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 2 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check2">
                    <span>Pay bills</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 4 mins</small>
                </li>
                 <li>
                    <input icheck type="checkbox" ng-model="check3">
                    <span>Organize office</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 8 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check4">
                    <span>Send documents to Olivia</span>
                    <small class="label label-warning"><i class="fa fa-clock-o"></i> 15 mins</small>
                </li>
                <li>
                    <input icheck type="checkbox" ng-model="check5">
                    <span>Send mail to Susan</span>
                    <small class="label label-danger"><i class="fa fa-clock-o"></i> 50 mins</small>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
       
       
            <div class="ibox">
              <div class="widgets-container">
                <h3>Private message</h3>
                <p class="small"> Send private message to Olivia Wenscombe </p>
                <div class="form-group">
                  <label>Subject</label>
                  <input placeholder="Message subject" class="form-control" type="email">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea rows="3" placeholder="Your message" class="form-control"></textarea>
                </div>
                <button class="btn green btn-block">Send</button>
              </div>
            </div>
          </div>

   
</div>

      

</div>
</div>
</div>
</div>