	<!-- Go top -->
	<a class="scrollup"><i class="fa fa-chevron-up"></i></a>
	<!-- Go top -->
<!-- start footer -->
<div class="footer">
						<div class="footer-link">
							<ul class="list-inline">
								<li><a title="" href="#/dashboard1">Dashboard</a></li>
								<li><a title="" href="#/mailbox"> Inbox </a></li>
								<li><a title="" href="blog.html">Blog</a></li>
								<li><a title="" href="contacts.html">Contacts</a></li>
							</ul>
						</div>
						<div class="footer-copyright"> <strong>Copyright</strong> AdminUI Company &copy; 2017 </div>
					</div>