        <!-- Start page sidebar wrapper -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar">
                <ul class="page-sidebar-menu  page-header-fixed ">
                    <li class="sidebar-search-wrapper">
                        <!-- START RESPONSIVE SEARCH FORM -->
                        <form class="sidebar-search  " action="search_results" method="POST">
                            <a href="javascript:;" class="remove"> <i class="icon-close"></i> </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn"> <a href="javascript:;" class="btn submit"> <i class="icon-magnifier"></i> </a> </span>                               </div>
                        </form>
                        <!-- END RESPONSIVE SEARCH FORM -->
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="javascript:;"> <i class="fa fa-group"></i> <span class="title">Users</span> </a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="javascript:;"> <i class="fa fa-user-circle-o"></i> <span class="title">Roles</span> </a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="javascript:;"> <i class="fa fa-address-card-o"></i> <span class="title">Roles- Users</span> </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- End page sidebar wrapper -->
