        <!-- Start page sidebar wrapper -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar">
                <ul class="page-sidebar-menu  page-header-fixed ">
                    <li class="sidebar-search-wrapper">
                        <!-- START RESPONSIVE SEARCH FORM -->
                        <form class="sidebar-search  " action="search_results" method="POST">
                            <a href="javascript:;" class="remove"> <i class="icon-close"></i> </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn"> <a href="javascript:;" class="btn submit"> <i class="icon-magnifier"></i> </a> </span>                               </div>
                        </form>
                        <!-- END RESPONSIVE SEARCH FORM -->
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="javascript:;"> <i class="fa fa-th-large"></i> <span class="title">Trends</span> </a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="javascript:;"> <i class="fa fa-th-large"></i> <span class="title">Transactions</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">Portafolio</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">Per ATM</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">By Day</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">By Type</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">Trends</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="dashboard1"> <span class="title">Segmentation</span> </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End page sidebar wrapper -->
